<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insta485</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="topbar">
        <a href="/">insta485</a>
        {% if session['username'] %}
        <a href="{{ url_for('show_explore') }}">explore</a>
        <a href="{{ url_for('show_user', user_slug = session.username ) }}">{{ session['username'] }}</a>
        {% endif %}
    </div>
    {% block content %}{% endblock %}
</body>
</html>