{% extends "base.html" %}

{% block content %}
<div>
    <!-- DO NOT CHANGE THIS ->????????????????? -->
    <form action="<FIXME_ACCOUNTS_URL_HERE>?target=<FIXME_EDIT_ACCOUNT_URL_HERE>" method="post" enctype="multipart/form-data">
        <input type="password" name="password" required/>
        <input type="password" name="new_password1" required/>
        <input type="password" name="new_password2" required/>
        <input type="submit" name="update_password" value="submit"/>
        <input type="hidden" name="operation" value="update_password"/>
    </form>
</div>
<div>
    <p>
        <a href="{{ url_for('show_edit', user_slug = edit.username ) }}">
            <span style="font-weight:bold">Back to edit account </span> 
        </a>
    </p>
</div>

{% endblock %}