{% extends "base.html" %}

{% block content %}
<div>
    <!-- DO NOT CHANGE THIS ->????????????????? -->
    <!--<form action="<FIXME_ACCOUNTS_URL_HERE>?target=<FIXME_EDIT_ACCOUNT_URL_HERE>" method="post" enctype="multipart/form-data">-->
    <form action="{{ url_for('account_redirect', target='/accounts/edit/')}}" method="post" enctype="multipart/form-data">
        <input type="password" name="password" placeholder="Old Password" required/>
        <input type="password" name="new_password1" placeholder="New Password" required/>
        <input type="password" name="new_password2" placeholder="Confirm New Password" required/>
        <input type="submit" name="update_password" value="submit"/>
        <input type="hidden" name="operation" value="update_password"/>
    </form>
</div>
<div>
    <p>
        <a href="{{ url_for('show_edit', target='/accounts/edit/') }}">
            <span style="font-weight:bold">Back to edit account </span> 
        </a>
    </p>
</div>

{% endblock %}