{% extends "base.html" %}

{% block content %}
  {% for post in posts %}
  &nbsp;&nbsp;&nbsp;
  <div class="profilePost">
        <div class="profileTopBar">
            <a href="/u/{{ post.owner }}/">
                <!-- <img src="{{post.owner_img_url}}" alt=DenPic.jpg> -->
                <span style="font-weight:bold">{{post['owner']}} </span> 
            </a>
            <a href="/p/{{post.postid}}/">
              <p style="float:right">{{post.created}}</p>
            </a>
        </div>
        <div class="postImg">
          <img src="{{ url_for('serve_img', filename=post.filename ) }}" alt=Crossword.jpg>
      </div>
      <div class="profileBottomBar">
        
          {% if post['likes'] == 1 %}
          <p>{{post['likes']}} like</p>
          {% else %}
          <p>{{post['likes']}} likes</p>
          {% endif %}
          {% for comment in post['comments'] %}
          <p><a href="/u/{{comment.owner}}/"><span style="font-weight:bold">{{ comment.owner }}&nbsp;</span></a> {{ comment.text }}</p>
          {% endfor %}
          <form action="<FIXME_LIKES_URL_HERE>?target=<FIXME_CURRENT_PAGE_URL_HERE>" method="post" enctype="multipart/form-data">
            <input type="hidden" name="operation" value="like"/>
            <input type="hidden" name="postid" value="{{ post['postid'] }}"/>
            <input type="submit" name="like" value="like"/>
          </form>
          <br>
          <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
          <form action="{{ url_for('update_user_comment', target='/') }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="operation" value="create"/>
            <input type="hidden" name="postid" value="{{ post['postid'] }}"/>
            <input type="text" name="text" required/>
            <input type="submit" name="comment" value="comment"/>
          </form>
      </div>
  </div>
  {% endfor %}
{% endblock %}