{% extends "base.html" %}

{% block content %}
  {% for post in posts %}
  &nbsp;&nbsp;&nbsp;
  <div class="profilePost">
        <div class="profileTopBar">
            <a href="{{ url_for('show_user', user_slug = post.owner ) }}">
                <img src="{{ url_for('serve_img', filename=post.owner_img_url ) }}" alt=postOwnerPic.jpg style="width:50px;">
                <span style="font-weight:bold">{{post['owner']}} </span> 
            </a>
            <a href="{{ url_for('show_post', postid_url_slug = post['postid']) }}">
              <p style="float:right">{{post['created']}}</p>
            </a>
        </div>
        <div class="postImg">
          <img src="{{ url_for('serve_img', filename=post.filename ) }}" alt=postImage.jpg style="width:500px;">
      </div>
      <div class="profileBottomBar"> 
          {% if post['likes'] == 1 %}
          <p>{{post['likes']}} like</p>
          {% else %}
          <p>{{post['likes']}} likes</p>
          {% endif %}
          {% for comment in post['comments'] %}
          <p><a href="{{ url_for('show_user', user_slug = comment.owner ) }}"><span style="font-weight:bold">{{ comment.owner }}&nbsp;</span></a> {{ comment.text }}</p>
            {% if comment.owner == session.username %}
              <!-- DELETE COMMENT BUTTON -->
              <form action="{{ url_for('update_user_comment', target=post.postid) }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="operation" value="delete"/>
                <input type="hidden" name="commentid" value="{{ comment.commentid }}"/>
                <input type="submit" name="uncomment" value="delete"/>
              </form>
            {% endif %}
          {% endfor %}

          <!--if a like belonging to owner is found:-->
          {% if post['liked'] %}
            <!--Unlike Button-->
            <form action="{{ url_for('update_likes', target=post.postid) }}" method="post" enctype="multipart/form-data">
              <input type="hidden" name="operation" value="unlike"/>
              <input type="hidden" name="postid" value="{{ post['postid'] }}"/>
              <input type="submit" name="unlike" value="unlike"/>
            </form>
          {% else %}
            <!--Like button-->
            <form action="{{ url_for('update_likes', target=post.postid) }}" method="post" enctype="multipart/form-data">
              <input type="hidden" name="operation" value="like"/>
              <input type="hidden" name="postid" value="{{ post['postid'] }}"/>
              <input type="submit" name="like" value="like"/>
            </form>
            <br>
          {% endif %}

          <!-- COMMENT BUTTON -->
          <form action="{{ url_for('update_user_comment', target=post.postid) }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="operation" value="create"/>
            <input type="hidden" name="postid" value="{{ post['postid'] }}"/>
            <input type="text" name="text" required/>
            <input type="submit" name="comment" value="comment"/>
          </form>
      </div>
      <div>
        {% if post.owner == session.username %}
          <!-- DELETE POST -->
          <!--<FIXME_POSTS_URL_HERE>?target=<FIXME_LOGGED_IN_USER_PAGE_URL_HERE>-->
          <form action="{{ url_for('delete_post', postid_url_slug=post.postid) }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="operation" value="delete"/>
            <input type="hidden" name="postid" value="{{ post['postid'] }}"/>
            <input type="submit" name="delete" value="delete this post"/>
          </form>
        {% endif %}
      </div>
  </div>
  {% endfor %}
{% endblock %}
