{% extends "base.html" %}

{% block content %}
<h1>
    {{userData.username}}
</h1>
<p>Edit profile</p>
<form action="{{ url_for('logout') }}" method="post" enctype="multipart/form-data">
    <input type="submit" name="logout" value="Logout"/>
</form>
<p>
    {{userData.numPosts}}
    {{userData.numFollowers}}
    {{userData.numFollowing}}
</p>
<p>{{userData.fullname}}</p>
<!-- Upload new post -->
<form action="<FIXME_POSTS_URL_HERE>?target=<FIXME_CURRENT_PAGE_URL_HERE>" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept="image/*" required/>
    <input type="submit" name="create_post" value="upload new post"/>
    <input type="hidden" name="operation" value="create"/>
  </form>
{% endblock %}